nav.explore-tabs.profile-nav.profile-nav-1
  .width-wrapper
    a.active Pens
    a Posts
    a Collections
    #profile-search.profile-search
      form#profile-search-form.search-form.group
        #search-elements-div
          .group
            label.screen-reader-text(for='q') Search
            input#profile-search-q.search-input(type='search', name='q', required='true', value='', placeholder='Search Your Pens...')
            input.button.search-button.visually-hidden(type='submit', value='Search')
  span.mobile-trigger
    svg.icon-menu
      use(xlink:href='#menu')
