footer#link-footer.link-footer
  #link-footer-width-wrapper.width-wrapper
    nav#link-footer-codepen-links.link-footer-links.link-footer-codepen-links
      strong CodePen
      a(href='/about/') About
      a(href='http://blog.codepen.io/') Blog
      a(href='http://blog.codepen.io/store/') Store
      a(href='http://blog.codepen.io/radio/') Podcast
      a(href='/stats/') Stats
      a(href='/advertising/') Advertising
      a(href='http://blog.codepen.io/documentation') Docs
      a(href='/support/') Support
    nav#link-footer-community-links.link-footer-links.link-footer-community-links
      strong Community
      a(href='/jobs/') Jobs
      a(href='http://blog.codepen.io/meetups/') Meetups
      a(href='/pro/teams/') Teams
      a(href='/patterns/') Patterns
      a(href='https://blog.codepen.io/legal/code-conduct/') Code of Conduct
    nav#link-footer-social-links.link-footer-links.link-footer-social-links
      strong Social
      a(href='https://twitter.com/CodePen') Twitter
      a(href='https://www.facebook.com/CodePen/') Facebook
      a(href='https://www.flickr.com/photos/codepen/') Flickr
      a(href='https://www.instagram.com/codepen/') Instagram
      a(href='https://www.pinterest.com/codepen/') Pinterest
      a(href='http://giphy.com/channel/codepen/') Giphy
    nav#link-footer-profile-links.link-footer-links.link-footer-profile-links
      strong jh3y
      a(href='/jh3y/public/feed/') Public Pens RSS
      a(href='/jh3y/popular/feed/') Popular Pens RSS
      a(href='/jh3y/posts/feed/') Posts RSS
    #link-footer-copyright.copyright
      h1.logo.header-chunk
        a.small-screen-logo(href='http://codepen.io/')
          svg.icon-codepen-box
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#codepen-box')
        a.large-screen-logo(href='http://codepen.io/')
          | CodePen
      p ©2016 CodePen
      p.slogan
        em Demo or it didn't happen.
