footer#link-footer.link-footer
  #link-footer-width-wrapper.width-wrapper
    nav#link-footer-codepen-links.link-footer-links.link-footer-codepen-links
      strong CodePen
      a About
      a Blog
      a Store
      a Podcast
      a Stats
      a Advertising
      a Docs
      a Support
    nav#link-footer-community-links.link-footer-links.link-footer-community-links
      strong Community
      a Jobs
      a Meetups
      a Teams
      a Patterns
      a Code of Conduct
    nav#link-footer-social-links.link-footer-links.link-footer-social-links
      strong Social
      a Twitter
      a Facebook
      a Flickr
      a Instagram
      a Pinterest
      a Giphy
    nav#link-footer-profile-links.link-footer-links.link-footer-profile-links
      strong Username
      a Public Pens RSS
      a Popular Pens RSS
      a Posts RSS
    #link-footer-copyright.copyright
      h1.logo.header-chunk
        a.small-screen-logo
          svg.icon-codepen-box
            use(xlink:href='#codepen-box')
        a.large-screen-logo
          | CodePen
      p ©2016 CodePen
      p.slogan
        em Demo or it didn't happen.
