#profile-location-and-bio.profile-location-and-bio
  #profile-location.profile-location
    | Planet Earth
  #profile-bio.profile-bio
    | polyglot coder -- freelance developer -- the web is my playground
