mixin pen(className)
  .single-pen.no-user-line(class= className)
    .iframe-wrap.loaded
      a.cover-link
      iframe
      .meta-overlay
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .pen-actions
          a.button.mini-button.button-dark.add-to-collection-from-flyout + Add to Collection
          a#del-pen-9178517.button.mini-button.button-dark.delete-pen × Delete
    .meta
      h3.pen-title
        a Some awesome pen!
      .user-and-stats
        .stats
          a.single-stat.views
            | 9999
            svg.icon-eye(width='17px', height='12px')
              use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#eye')
          a.single-stat.comments
            | 9999
            svg.icon-comment(width='12px', height='12px')
              use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#comment')
          a#loves_RRegVO.single-stat.loves.loved-0
            span.count
              | 9999
            svg.icon-heart(width='12px', height='12px')
              use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#heart')
