nav#profile-nav-2.explore-tabs.profile-nav.profile-nav-2
  a.active(href='/jh3y/')
    | Showcase
  a(href='/jh3y/pens/popular/')
    | Popular
  a(href='/jh3y/pens/public/')
    | Public
  a(href='/jh3y/pens/private/')
    | Private
  a(href='/jh3y/pens/templates/')
    | Templates
  a(href='/jh3y/pens/forked/')
    | Forked
  a(href='/jh3y/pens/loved/')
    | Loved
  a(href='/jh3y/pens/tags/')
    | Tags
  span.mobile-trigger
    svg.icon-menu
      use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#menu')
