nav#profile-nav-2.explore-tabs.profile-nav.profile-nav-2
  a.active Showcase
  a Popular
  a Public
  a Private
  a Templates
  a Forked
  a Loved
  a Tags
  span.mobile-trigger
    svg.icon-menu
      use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#menu')
