include pen
#profile-content-wrap.width-wrapper
  include profile-nav
  .profile-grid-pens
    #showcase-grid.active
      #showcase.active.group
        a.button.button-medium.mini-button.button-no-right-margin.organize-showcase-button.profile-bonus-button Organize Showcase
        +pen('featured-pen group')
        .active.pen-grid
          +pen()
          +pen()
          +pen()
          +pen()
          +pen()
          +pen()
