footer#promo-footer.promo-footer
  #promo-footer-width-wrapper.width-wrapper
    .flex-grid-thirds
      #footer-chunk-pro.footer-chunk
        h3
          | Go
          span.badge.badge-pro PRO
        p
          | Unlock the full power of CodePen by upgrading to PRO. You'll be able to save Private Pens, upload Assets, work with others in real-time with Collab Mode, and more!
        p
          a.button.yellow(href='/signup/') Upgrade Now
        p
          a(href='/pro/') See All PRO Features
          br
          a(href='/pro/perks/') PRO Perks
      #footer-chunk-radio.footer-chunk
        h3
          | CodePen Radio
        p
          | An inside look from the three founders of CodePen on what it's like running a web business. Everything from server infrastructure, to day-to-day operations, to new feature development.
        p
          a(href='https://blog.codepen.io/radio/') Go To Podcast Home
          br
          a(href='https://itunes.apple.com/us/podcast/codepen-radio/id824437159') CodePen Radio on iTunes
      #footer-chunk-ad.footer-chunk
        #bsap_1299665.bsarocks.bsap_1c0db54f76af90b42e2579401b20ae65
