doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title YOU! on CodePen
    link(href='//fonts.googleapis.com/css?family=Lato:400,900,400italic,700italic', rel='stylesheet')
    link(rel='stylesheet', media='all', href='https://assets.codepen.io/assets/global/global-MQ-cd0d5f7d2b77d8f792299f9d654c0700.css')
    link(rel='stylesheet', media='all', href='https://assets.codepen.io/assets/page/page-MQ-bc4557ebef8987ee24b170b27d5367aa.css')
    link(rel='stylesheet', media='screen', href='https://assets.codepen.io/assets/profile/profile-5b904f9646f6768ff8a389ac054ae152.css')
    link(rel='stylesheet', href="style.css")
  body
    include dev
    script(src='https://assets.codepen.io/assets/common/everypage-f1dae4ee8aa34668e5f11710f44c69b6.js')
