/*** uncss> filename: public/style.css ***/
.user-dropdown,
.pen-templates-dropdown,
.activity-dropdown,
.priority-nav__dropdown {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.35);
  position: absolute;
  top: 100%;
  padding: 5px 0;
  width: 200px;
  color: #222;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s, -webkit-transform 0.15s;
  transition: transform 0.15s, opacity 0.15s;
  transition: transform 0.15s, opacity 0.15s, -webkit-transform 0.15s;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transform-origin: top right;
  transform-origin: top right;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
img {
  outline: 0;
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.main-header {
  background: #000;
  border-bottom: 1px solid #222;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: middle;
  -ms-flex-align: middle;
  align-items: middle;
  position: relative;
  z-index: 11;
  height: 65px;
}
@media (max-width: 706px) {
  .main-header .new-post-button {
    display: none;
  }
  .main-header .dropdown-newpost {
    display: block;
  }
}
@media (max-width: 615px) {
  .main-header .header-activity {
    display: none;
  }
  .main-header .dropdown-activity {
    display: block;
  }
}
@media (max-width: 545px) {
  .main-header .new-pen-button {
    display: none;
  }
  .main-header .dropdown-newpen {
    display: block;
  }
  .main-header .header-search-button {
    margin-right: 0;
  }
}
@media (max-width: 510px) {
  .main-header .logo {
    margin-right: 0;
  }
}
.logo {
  margin: 0;
  position: relative;
  z-index: 1;
  height: 100%;
  margin-right: 20px;
}
.logo .small-screen-logo {
  display: block;
  width: 30px;
  height: 100%;
  margin: 0 10px;
}
.logo .small-screen-logo svg {
  fill: #fff;
  height: 100%;
  width: 100%;
}
.logo .large-screen-logo {
  display: none;
  font: 0/0 a;
  background: url("https://assets.codepen.io/assets/logos/codepen-logo-9c0933e8569e634b75ac2eb808da908d.svg") no-repeat 18px 21px;
  background-size: 138px 24px;
  width: 180px;
  height: 65px;
  border: 0;
  outline: 0;
}
@media (min-width: 551px) {
  .main-header .logo {
    width: auto;
  }
  .main-header .logo .large-screen-logo {
    display: block;
  }
  .main-header .logo .small-screen-logo {
    display: none;
  }
}
.primary-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: middle;
  -ms-flex-align: middle;
  align-items: middle;
}
.primary-nav.show-more-text .primary-nav-more {
  display: inline;
}
.primary-nav .primary-nav-more {
  display: none;
}
.primary-nav>ul>li>a,
.primary-nav #overflow-nav-menu-link {
  line-height: 65px;
  position: relative;
  font-size: 16px;
  color: #acacac;
  display: inline-block;
  margin-right: 10px;
}
.primary-nav>ul>li>a::after,
.primary-nav #overflow-nav-menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ccc;
  height: 5px;
  width: 100%;
  display: none;
}
.primary-nav>ul>li>a:hover,
.primary-nav #overflow-nav-menu-link:hover {
  display: block;
}
.primary-nav>ul>li>a:hover::after,
.primary-nav #overflow-nav-menu-link:hover::after {
  display: block;
}
.primary-nav .primary a {
  color: #fff;
  font-weight: bold;
}
.primary-nav .primary-last {
  margin-right: 15px;
}
.primary-nav .primary-pens a:hover::after {
  display: block;
  background: #0ebeff;
}
.primary-nav .primary-posts a:hover::after {
  display: block;
  background: #47cf73;
}
.primary-nav .primary-collections a:hover::after {
  display: block;
  background: #ae63e4;
}
.fill-space {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.primary-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.primary-actions>a,
.primary-actions>.button,
.primary-actions>.multi-button {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.new-pen-button:hover .dropdown-divider::before {
  display: none;
}
.user-stuff {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#mini-personal-avatar {
  border-radius: 2px;
  cursor: pointer;
}
.link-list {
  list-style: none;
}
.link-list a {
  color: #000;
  display: block;
  padding: 8px 15px 10px;
  line-height: 1.1;
  text-shadow: none;
  text-decoration: none;
}
.link-list a:hover,
.link-list a:focus {
  color: inherit;
  background: #e7e7e7;
}
.user-dropdown {
  left: auto !important;
  right: 0;
}
.user-dropdown>li {
  position: relative;
}
.user-dropdown>li.sep-after {
  border-bottom: 1px solid #666;
  padding-bottom: 5px;
}
.user-dropdown>li.sep-after+li {
  padding-top: 5px;
}
.dropdown-newpost,
.dropdown-newpen,
.dropdown-activity {
  display: none;
}
.user-dropdown-quicklink-row {
  padding: 0 0 5px 0;
}
.user-dropdown-quicklink-row a {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  display: inline-block;
  font-size: 0.75rem;
  margin: 0 2px 0 0;
  background: none;
  cursor: pointer;
  color: #999;
  outline: 0;
  padding: 0;
  border: 0;
}
.user-dropdown-quicklink-row a:hover,
.user-dropdown-quicklink-row a:focus {
  background: none;
  color: #111;
}
.dropdown-profile>.user-dropdown-quicklink-row {
  padding-left: 15px;
}
.pen-templates-dropdown {
  left: 0;
  padding-top: 0;
  width: 250px;
}
@media (max-width: 550px) {
  .pen-templates-dropdown {
    display: none;
  }
}
.header-search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header-search-button svg {
  pointer-events: none;
  fill: #999;
}
.header-search-button:hover svg,
.header-search-button:focus svg {
  fill: #fff;
}
.header-search-button {
  display: block;
  height: 65px;
  padding: 0 10px;
  margin-right: 10px;
}
.header-search-button svg {
  width: 25px;
  height: 65px;
}
.search-form .search-input {
  width: 100%;
}
.search-form .search-input:focus {
  outline: 0;
}
#header-search-form-wrap {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;
  height: calc(100% - 65px);
  transition: 0.2s;
  background: linear-gradient(to bottom, rgba(0,0,0,0.95) 20%, rgba(0,0,0,0.75) 60%, transparent);
  padding: 45px 0 0 0;
  z-index: 10;
}
#header-search-form-wrap #search-form {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 550px) {
  #header-search-form-wrap {
    background: rgba(0,0,0,0.85);
  }
}
#header-search-form-wrap #search-form .search-input {
  font-family: "Telefon Black", Sans-Serif;
  font-size: 6rem;
  font-weight: bold;
  background: none;
  color: #fff;
  box-shadow: none !important;
  border: 0;
  padding: 0;
}
@media (max-width: 550px) {
  #header-search-form-wrap #search-form .search-input {
    font-size: 3.2rem;
  }
}
.advanced-options {
  padding: 20px 0;
}
.search-option {
  padding-right: 20px;
}
.search-option-radio-row {
  overflow: auto;
  padding-left: 2px;
}
.search-option-radio-row>div {
  white-space: nowrap;
  display: inline-block;
}
@media (max-width: 550px) {
  .search-option-radio-row>div {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
  }
}
.search-option-radio-row label {
  padding: 0 12px 0 2px;
  color: #666;
}
.header-activity-button {
  padding: 0 10px 0 0px;
  display: block;
}
.header-activity-button .activity-icon {
  width: 22px;
  height: 65px;
  fill: #999;
  pointer-events: none;
}
.header-activity-button:hover .activity-icon,
.header-activity-button:focus .activity-icon {
  fill: #fff;
}
.activity-dropdown {
  left: auto !important;
  right: 0;
  width: 300px;
  padding: 10px;
}
.priority-nav {
  height: 100%;
  overflow: hidden;
}
.priority-nav>ul {
  list-style: none;
  height: 100%;
}
.priority-nav>ul>li {
  display: inline-block;
}
.priority-nav>ul>li.overflow-nav {
  display: none;
}
.priority-nav>ul>li.overflow-nav .dropdown-arrow {
  fill: #ccc;
  width: 10px;
  height: 9px;
  pointer-events: none;
}
.priority-nav__dropdown {
  list-style: none;
  z-index: 1;
  left: 0;
}
.priority-nav__dropdown>li>a,
.priority-nav__dropdown .primary>a {
  color: #000;
}
.priority-nav__dropdown .primary-last {
  margin-right: 0;
}
.promo-footer {
  clear: both;
  background: #28282b;
  padding: 40px 0;
  font-size: 0.9rem;
}
.promo-footer p {
  color: #959595;
}
@media (max-width: 550px) {
  .promo-footer {
    padding: 20px 0;
  }
  .promo-footer .footer-chunk:not(:last-child) {
    margin-bottom: 40px;
  }
  .promo-footer .width-wrapper {
    padding: 0 20px;
  }
}
.link-footer {
  background: #111;
  padding: 40px 0 60px;
  position: relative;
}
.link-footer nav {
  margin: 0 0 8px 0;
}
.link-footer strong {
  color: #fff;
  margin-right: 20px;
}
.link-footer a {
  color: #959595;
  margin-right: 10px;
}
.link-footer .copyright {
  position: absolute;
  right: 20px;
  top: 0;
  text-align: right;
  font-size: 0.8rem;
  color: #959595;
}
.link-footer .copyright .logo {
  height: 27px;
  margin: 0 0 5px 0;
}
.link-footer .copyright .logo a {
  background: url("https://assets.codepen.io/assets/footer/codepen-logo-midgray-856441b00b6bc2025faf12b8d54e88a6.svg") no-repeat top right;
  background-size: 146.66667px 25.83333px;
}
.link-footer .copyright .logo .large-screen-logo {
  display: block;
  margin-right: 0px;
}
.link-footer .copyright .logo .small-screen-logo {
  display: none;
}
@media (max-width: 550px) {
  .link-footer {
    font-size: 125%;
  }
  .link-footer .link-footer-links {
    margin: 0 0 40px 0;
  }
  .link-footer .link-footer-links a,
  .link-footer .link-footer-links strong {
    display: block;
    padding: 5px;
  }
  .link-footer .link-footer-codepen-links {
    float: left;
    width: 50%;
  }
  .link-footer .link-footer-community-links {
    float: right;
    width: 50%;
  }
  .link-footer .link-footer-social-links {
    clear: both;
    float: left;
    width: 50%;
  }
  .link-footer .link-footer-profile-links {
    float: right;
    width: 50%;
  }
  .link-footer .copyright {
    margin-top: 40px;
    text-align: left;
    position: static;
    clear: both;
    font-size: 0.9rem;
  }
  .link-footer .copyright .logo {
    height: 33px;
  }
  .link-footer .copyright .logo a {
    width: 145px;
    height: 27px;
  }
}
@font-face {
  font-family: "Telefon Black";
  src: url("https://assets.codepen.io/assets/telefon/black/3f32b1c9-8e26-465e-ae02-ff82a378b670-3-cd99c2d06a9fd53639f9fbd036cf8bc2.woff") format("woff"), url("https://assets.codepen.io/assets/telefon/black/3f32b1c9-8e26-465e-ae02-ff82a378b670-3-a89336f5956fb9c2b4d3425102671df8.woff2") format("woff2");
}
@font-face {
  font-family: "Telefon";
  src: url("https://assets.codepen.io/assets/telefon/bold/af889c53-1ee3-4868-8fdc-2b310d587b50-3-b689630919091c150376bc36bb9ce8d2.woff") format("woff"), url("https://assets.codepen.io/assets/telefon/bold/af889c53-1ee3-4868-8fdc-2b310d587b50-3-5c6e85a72097918f74ecfc94407a5492.woff2") format("woff2");
}
html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}
@media (max-width: 830px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 13px;
  }
}
body {
  color: #fff;
}
h1,
h3 {
  line-height: 1.2;
  margin: 0 0 10px 0;
  font-weight: normal;
}
h3 {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}
h1 {
  font-family: "Telefon Black", Sans-Serif;
  line-height: 1.1;
  font-size: 3rem;
}
@media (max-width: 550px) {
  h1 {
    font-size: 2.2rem;
  }
}
h3 {
  font-size: 1.4rem;
  font-weight: bold;
}
p {
  margin: 0 0 1em 0;
}
a {
  text-decoration: none;
  color: #76daff;
}
a:hover,
a:focus,
a:active {
  cursor: pointer;
  color: #fff;
}
.pen-description pre.lang-application/x-slim::after,
.post-body pre.lang-application/x-slim::after,
.comment-text pre.lang-application/x-slim::after {
  content: "Slim";
}
.pen-description pre.lang-text/x-scss::after,
.post-body pre.lang-text/x-scss::after,
.comment-text pre.lang-text/x-scss::after {
  content: "SCSS";
}
.pen-description pre.lang-text/x-sass::after,
.post-body pre.lang-text/x-sass::after,
.comment-text pre.lang-text/x-sass::after {
  content: "Sass";
}
.pen-description pre.lang-text/x-less::after,
.post-body pre.lang-text/x-less::after,
.comment-text pre.lang-text/x-less::after {
  content: "LESS";
}
.pen-description pre.lang-text/x-styl::after,
.post-body pre.lang-text/x-styl::after,
.comment-text pre.lang-text/x-styl::after {
  content: "Stylus";
}
.pen-description pre.lang-text/x-postcss::after,
.post-body pre.lang-text/x-postcss::after,
.comment-text pre.lang-text/x-postcss::after {
  content: "PostCSS";
}
.pen-description pre.lang-text/typescript::after,
.post-body pre.lang-text/typescript::after,
.comment-text pre.lang-text/typescript::after {
  content: "TypeScript";
}
.pen-description pre.lang-application/x-httpd-php::after,
.post-body pre.lang-application/x-httpd-php::after,
.comment-text pre.lang-application/x-httpd-php::after {
  content: "PHP";
}
label[for],
input[type=radio] {
  cursor: pointer;
}
input[type='search'] {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 13px;
  -webkit-appearance: none;
  padding: 4px 5px 4px 5px;
  outline: 0;
  border: 3px solid #ccc;
  border-radius: 2px;
  transition: border-color 0.2s;
}
input[type='search']:focus {
  border-color: #555;
}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.hide {
  display: none !important;
}
.visually-hidden {
  position: absolute !important;
  top: -9999px;
  left: -9999px;
}
.show-inline-block {
  display: inline-block !important;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.icon-heart {
  fill: #fff;
}
.loves>svg {
  color: #999;
  fill: #999 !important;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.button {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  -webkit-appearance: none;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  display: inline-block;
  border: 0;
  outline: 0;
  padding: 10px 16px;
  margin: 0 10px 0 0;
  position: relative;
  border-radius: 3px;
  border: 3px solid transparent;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  font-weight: normal !important;
}
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.button:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
.button>svg {
  width: 16px;
  height: 16px;
  display: inline-block;
  pointer-events: none;
  vertical-align: bottom;
  fill: #fff;
}
.button.yellow {
  background: #fcd000;
  color: #111;
}
.button.yellow:hover,
.button.yellow:focus {
  background: #c9a600;
}
.button-outline {
  background: none;
  border: 3px solid #ccc;
}
.button-outline:hover,
.button-outline:focus {
  background: #fff;
  border-color: #fff;
  color: #000;
}
.button-medium {
  background: #343436;
  color: #fff;
}
.button-medium:hover {
  background: #4d4d50;
}
.button-dark {
  background: #111;
}
.button-dark:hover,
.button-dark:focus {
  background: #1e1e1e;
}
.button-no-right-margin,
.button:only-child {
  margin-right: 0 !important;
}
.mini-button {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 0.8rem;
  padding: 2px 7px;
  margin: 0 1px 0 0;
  border-width: 1px;
}
.new-pen-button .icon,
.new-post-button .icon {
  font-weight: 800;
}
.new-pen-button .icon {
  color: #0ebeff;
}
.new-post-button .icon {
  color: #47cf73;
}
.dropdown-divider {
  display: inline-block;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.dropdown-divider::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  margin-left: -4px;
  top: 10%;
  height: 80%;
  background: rgba(255,255,255,0.1);
}
.dropdown-arrow {
  width: 13px;
  fill: #999 !important;
}
.multi-button {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 3px;
  overflow: hidden;
}
.multi-button>.button {
  margin: 0;
  float: left;
  border-radius: 0;
}
.badge {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 70%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1px 3px 1px 3px;
  color: #000 !important;
  border-radius: 3px;
  position: relative;
  top: -2px;
  text-shadow: none !important;
  white-space: nowrap;
}
.badge-pro {
  background: #fcd000;
}
.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 550px) {
  .flex-grid>* {
    width: 100% !important;
  }
}
.flex-grid>:last-child {
  margin-right: 0;
}
.flex-grid[data-grid-type="fill"]>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-grid-thirds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-grid-thirds>* {
  width: 32%;
  margin-right: 2%;
}
.flex-grid-thirds>:nth-child(3n) {
  margin-right: 0;
}
@media (max-width: 830px) {
  .flex-grid-thirds {
    display: block;
  }
  .flex-grid-thirds>* {
    width: 100%;
    margin-right: 0;
  }
}
.pen-grid {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 550px) {
  .pen-grid {
    display: block !important;
  }
}
.single-pen {
  width: 32%;
  border: 5px solid #2f2f31;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 2% 25px 0;
  position: relative;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.28);
}
.single-pen:nth-child(3n) {
  margin-right: 0;
}
@media (max-width: 830px) {
  .single-pen {
    width: 49%;
  }
  .single-pen:nth-child(3n) {
    margin-right: 2%;
  }
  .single-pen:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 550px) {
  .single-pen {
    width: 100%;
    margin-right: 0 !important;
  }
}
.single-pen .stats {
  background: #2f2f31;
}
.single-pen .stats::after {
  background: -webkit-linear-gradient(left, rgba(47,47,49,0), #2f2f31 80%);
  background: linear-gradient(to right, rgba(47,47,49,0), #2f2f31 80%);
}
.iframe-wrap {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}
@media (max-width: 550px) {
  .iframe-wrap {
    height: 150px;
    padding-top: 0;
  }
}
.iframe-wrap iframe {
  width: 201%;
  height: 201%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 0;
  visibility: hidden;
}
.iframe-wrap.loaded iframe,
.featured-pen .iframe-wrap iframe {
  visibility: visible;
  opacity: 1;
}
.iframe-wrap:hover .meta-overlay {
  opacity: 1;
}
.iframe-wrap>.meta-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12px 15px 0 15px;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  background: rgba(68,68,68,0.95);
}
.iframe-wrap>.meta-overlay p {
  color: #f5f5f5;
  margin: 0 0 5px 0;
}
.iframe-wrap>.meta-overlay a {
  color: #fff;
}
.iframe-wrap>.meta-overlay .pen-actions {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding-bottom: 10px;
  left: 0;
  width: 101%;
  text-align: center;
  border-bottom: 3px solid #0ebeff;
}
.cover-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 0 !important;
  z-index: 1;
}
.meta {
  background: #2f2f31;
  position: relative;
  font-size: 0.85em;
  white-space: nowrap;
  padding: 8px 10px 4px;
  box-shadow: 0 0 2px rgba(0,0,0,0.25);
  z-index: 3;
}
.no-user-line .meta {
  padding: 12px 10px 10px;
}
.meta .pen-title {
  color: #999;
  font-size: 1rem;
  margin: 4px 0 12px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.meta a {
  color: #999;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.meta a:hover {
  color: #ccc;
}
.meta .user-and-stats {
  white-space: nowrap;
}
.stats {
  position: absolute;
  right: 0;
  bottom: 4px;
}
.stats .single-stat,
.stats .single-stat.comments {
  display: inline-block;
  height: 100%;
  text-align: center;
  padding: 0 7px 0 9px;
  margin-left: -6px;
  color: #999;
}
@media (max-width: 830px) {
  .stats .single-stat,
  .stats .single-stat.comments {
    padding-top: 2px;
  }
}
@media (max-width: 550px) {
  .stats .single-stat,
  .stats .single-stat.comments {
    padding-top: 3px;
  }
}
.stats .single-stat:last-child {
  margin-right: 0;
}
.stats .single-stat:not(.loves) svg,
.stats .single-stat.comments:not(.loves) svg {
  fill: #999;
}
.stats:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 30px;
  height: 100%;
}
.stats svg {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle;
  margin-left: 2px;
}
.stats svg.icon-eye {
  top: -2px;
  width: 17px;
}
.stats .loves {
  position: relative;
}
.stats .loves:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.stats .loves .icon-heart {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
@media (max-width: 550px) {
  .stats {
    line-height: 2.3;
  }
}
#bsap_1299665 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}
.explore-tabs {
  margin: 0 0 12px 0;
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.explore-tabs a,
.explore-tabs span {
  font-size: 1.1rem;
  display: inline-block;
  outline: 0;
  color: #999;
  padding: 3px 14px 5px 0;
}
.explore-tabs a.active {
  color: #fff;
  font-weight: 700;
}
.explore-tabs a:hover,
.explore-tabs a:active {
  color: #eee;
}
.explore-tabs .mobile-trigger {
  font-size: 1rem;
  display: none;
}
@media (max-width: 550px) {
  .explore-tabs:not(.no-mobile-nav) {
    background: -webkit-linear-gradient(#313131, #131313);
    background: linear-gradient(#313131, #131313);
    box-shadow: 0 1px 3px rgba(0,0,0,0.75);
    border-bottom: 0;
    height: 26px;
    text-align: left !important;
  }
  .explore-tabs:not(.no-mobile-nav) .width-wrapper {
    position: static;
    padding: 0;
  }
  .explore-tabs:not(.no-mobile-nav) .mobile-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 5px 5px 0 0;
    height: 100%;
    z-index: 2;
    text-align: right;
  }
  .explore-tabs:not(.no-mobile-nav) .mobile-trigger svg {
    pointer-events: none;
    fill: #666;
    width: 13px;
    height: 13px;
    display: inline-block;
  }
}
@media (max-width: 550px) and (max-width: 550px) {
  .explore-tabs:not(.no-mobile-nav) .mobile-trigger {
    top: 2px;
  }
}
@media (max-width: 550px) {
  .explore-tabs:not(.no-mobile-nav) a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4px 0 4px 8px;
  }
  .explore-tabs:not(.no-mobile-nav) a.active {
    border-bottom: 0;
    top: auto;
    z-index: 1;
    border-top: 1px solid #444;
    background: -webkit-linear-gradient(#313131, #131313);
    background: linear-gradient(#313131, #131313);
  }
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  background: #191919;
}
.width-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}
@media (max-width: 550px) {
  .width-wrapper {
    padding: 0 10px;
  }
}
.profile-header {
  background: #000 url("https://assets.codepen.io/assets/profile/profile-bg-a1fed372f8d74d0e3f3a605a388607cb.svg");
  background-size: cover;
  position: relative;
  text-align: center;
}
@media (max-width: 550px) {
  .profile-header {
    padding-top: 15px;
    padding-bottom: 25px;
  }
}
.profile-header-content {
  position: relative;
  padding: 110px 10px 75px 10px;
  z-index: 2;
}
@media (max-width: 550px) {
  .profile-header-content {
    padding: 0;
  }
}
.links-and-stats {
  position: relative;
  background: #000;
  padding: 20px 10px;
}
@media (max-width: 550px) {
  .links-and-stats {
    position: static;
    padding: 15px 10px 10px 10px;
  }
}
.profile-links {
  float: right;
}
.profile-links>a:not(.button) {
  margin-right: 10px;
  color: #9a9a9c;
}
.profile-links>a:not(.button):hover,
.profile-links>a:not(.button):active {
  color: #fff;
}
@media (max-width: 550px) {
  .profile-links {
    float: none;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: 3px solid #343436;
    margin-top: 10px;
  }
}
.profile-follow {
  display: inline-block;
}
.follow-block {
  margin-right: 10px;
  color: #8a8a8a;
}
.follow-block>strong {
  color: #fff;
  font-weight: normal;
}
.profile-avatar {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 124px;
  height: 124px;
  border: 5px solid #1e1e1e;
  background: #fff;
}
@media (max-width: 550px) {
  .profile-avatar {
    bottom: auto;
    top: 75px;
    left: 15px;
    -webkit-transform: none;
    transform: none;
    width: 70px;
    height: 70px;
  }
}
.edit-profile-link {
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (max-width: 550px) {
  .edit-profile-link {
    display: none;
  }
}
.profile-name {
  text-align: center;
}
.profile-name h1 {
  display: inline-block;
  margin: 0 0 5px 0;
  position: relative;
}
@media (max-width: 550px) {
  .profile-name {
    text-align: left;
    padding: 0 0 0 100px;
  }
}
.profile-username {
  color: #999;
}
.profile-badges {
  font-weight: bold;
  margin: 0 0 0 10px;
  font-size: 1.2rem;
  position: absolute;
  left: 100%;
  top: 10px;
  white-space: nowrap;
}
.profile-location-and-bio {
  text-align: center;
  padding: 10px 0 20px 0;
}
.profile-location {
  color: #9a9a9c;
  margin: 0 0 10px 0;
}
.profile-bio {
  color: #f0f0f1;
  font-size: 1.2rem;
}
body {
  background: #343338;
}
.profile-nav {
  margin: 0;
}
@media (max-width: 550px) {
  .profile-nav {
    margin: 0 0 10px 0;
  }
}
.profile-nav-2 {
  background: #252527;
  padding: 10px;
  border-top: 5px solid #545456;
  margin: 0 0 20px 0;
}
.profile-nav-2 a {
  font-size: 1rem;
}
@media (max-width: 550px) {
  .profile-nav-2 {
    padding: 0;
    border: 0;
  }
}
.profile-grid-pens {
  position: relative;
  padding-bottom: 80px;
}
.featured-pen {
  position: relative;
  width: 100%;
  float: none;
  margin: 0 0 25px 0;
}
.featured-pen .iframe-wrap {
  padding-top: 40%;
}
.featured-pen .iframe-wrap iframe {
  width: 135%;
  height: 135%;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
}
@media (max-width: 550px) {
  .featured-pen .iframe-wrap {
    height: 150px;
  }
}
.profile-bonus-button {
  position: absolute;
  right: 10px;
  top: 15px;
}
@media (max-width: 550px) {
  .profile-bonus-button {
    display: none;
  }
}
.organize-showcase-button {
  top: -56px;
}
#profile-search-form {
  position: absolute;
  right: 20px;
  top: -5px;
}
@media (max-width: 550px) {
  #profile-search-form {
    display: none;
    left: 0;
    right: 0;
    top: -40px;
  }
}

